/*pages/home/css/home.css*/

/*pages/home/css/home.css*/

/*pages/home/css/home.css*/

body {
	background-color: blue;
}
#nav {
	background-color: orange;
}
/*pages/home/css/home.css*/

#nav {
	background-color: orange;
}
